@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $tablet-landscape) {
    @content;
  }
}

@mixin desktop-vertical-supper-shot {
  @media (min-width: $desktop) and (max-height: 600px) {
    @content;
  }
}

@mixin desktop-vertical-shot {
  @media (min-width: $desktop) and (min-height: 600px) and (max-height: 1079px){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: $desktop-l) {
    @content;
  }
}

@mixin formPadding {
  padding-left: 10px;

  @include tablet {
    padding-left: 20px;
  }

  @include desktop {
    padding-left: 29px;
  }
}
