@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $tablet-landscape) {
    @content;
  }
}

@mixin desktop-md-with-hight {
  @media (min-width: $tablet-landscape) and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-mx {
  @media (min-width: 1200px) and (max-width: $desktop-mx) {
    @content;
  }
}

@mixin desktop-vertical-supper-shot {
  @media (min-width: $tablet-landscape) and (max-height: 599px) {
    @content;
  }
}

@mixin desktop-vertical-shot {
  @media (min-width: $tablet-landscape) and (min-height: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) and (max-height: 599px),
  (min-width: $desktop) and (min-height: 1080px) {
    @content;
  }
}

@mixin only-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: $desktop-l) {
    @content;
  }
}

@mixin formPadding {
  padding-left: 10px;

  @include tablet {
    padding-left: 20px;
  }

  @include desktop {
    padding-left: 29px;
  }
}
