.burger {
  position: relative;
  z-index: 100;
  margin-left: 15px;
  display: inline-block;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;

  @include tablet {
    width: 44px;
    height: 30px;
  }

  @include only-desktop {
    display: none;
  }

  &__item {
    display: block;
    width: 21px;
    height: 3px;
    border-radius: 1px;
    transition: transform .2s;
    background-color: $white;
    transform-origin: 21px;

    @include tablet {
      width: 40px;
      height: 4px;
      border-radius: 2px;
      transform-origin: 39px;
    }

    & + .burger__item {
      margin-top: 4px;

      @include tablet {
        margin-top: 9px;
      }
    }

    &:nth-child(3) {
      transition: opacity 0.2s;
    }
  }

  &__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
  }
}

.nav-active {
  .burger {
    &__item {
      &:nth-child(2) {
        transform: rotate(-43deg);
      }

      &:nth-child(3) {
        opacity: 0;
      }

      &:nth-child(4) {
        transform: rotate(43deg);
      }
    }
  }
}
