.btn {
  display: inline-block;
  font-family: $font-family;
  vertical-align: middle;
  text-align: center;
  border-radius: 500px;

  &--small {
    padding: 0;
    width: 99px;
    line-height: 32px;
    font-size: 16px;
  }
}

.btn-primary {
  background-color: $vermilion;
  color: $white;
  padding: 5px;
}

.btn-register {
  display: none;
  padding: 0;

  @include desktop{
    display: block;
    width: 185px;
    line-height: 60px;
    font-size: 30px;
  }
}

.btn-start {
  width: 71px;
  line-height: 32px;
  padding: 0;

  @include desktop {
    width: 130px;
    line-height: 60px;
    font-size: 23px;
  }
}

button.btn-text-with-arrow,
a.btn-text-with-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $vermilion;
  font-size: 23px;

  @include desktop {
    font-size: 35px;
  }

  span {
    display: block;
    margin-bottom: 24px;
  }

  &::after {
    content: '';
    display: block;
    height: 14px;
    width: 28px;
    background-image: url('../images/Plern_orange_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include desktop {
      height: 30px;
      width: 64px;
    }
  }
}
