::-webkit-input-placeholder { /* Edge */
  color: #808080;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
  opacity: 1;
}

::placeholder {
  color: #808080;
  opacity: 1;
}

.form-group {
  &:not(:last-child) {
    padding-bottom: 13px;

    @include tablet {
      padding-bottom: 7px;
    }

    @include desktop {
      padding-bottom: 13px;
    }
  }
}

.form-control {
  width: 100%;
  padding: 7px 11px;
  background: $white 0% 0% no-repeat padding-box;
  border-radius: 26px;
  color: $black;
  font-size: 16px;
  line-height: 19px;
  border: none;

  @include tablet {
    padding: 11px 20px;
  }

  @include desktop {
    padding: 18px 29px;
    border-radius: 36px;
    font-size: 23px;
    line-height: 27px;
  }

  &--search {
    padding: 16px 53px 16px 22px;
    background-image: url('../images/magnify.svg');
    background-position: calc(100% - 22px);
    background-size: 16px;
    text-align: center;
    border-radius: 26px;

    @include tablet {
      padding: 18px 53px 18px 22px;
      border-radius: 36px;
      font-size: 23px;
      line-height: 27px;
      background-size: 37px;
    }

    @include desktop {
      padding: 18px 53px 18px 22px;
    }
  }
}

.form-label {
  display: block;
  font-weight: 600;

  @include tablet {
    margin-bottom: 7px;
  }

  @include desktop {
    font-size: 23px;
    line-height: 27px;
  }
}

.form-control-file {
  display: none;
}

.form-action {
  display: flex;
  justify-content: center;
  padding: 17px 0;

  @include desktop {
    padding: 22px 0 0;
    justify-content: flex-start;
  }

  .btn {
    padding: 0;
    width: 70px;
    line-height: 32px;

    @include tablet {
      width: 101px;
      font-size: 23px;
      line-height: 46px;
    }

    @include desktop {
      width: 154px;
      font-size: 35px;
      line-height: 70px;
    }

    &+ .btn {
      margin-left: 13px;

      @include tablet {
        margin-left: 36px;
      }
    }
  }
}

input[type="password"] {
  -webkit-text-security: square;
}
