.icon-check {
  display: inline-block;
  width: 12px;
  height: 9px;
  background-image: url('../images/Plern_black_tick.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;

  @include desktop {
    width: 23px;
    height: 17px;
  }

  &--blue {
    background-image: url('../images/Plern_blue_tick.png');
  }
}
