.pricing {
  &__type {
    display: block;
    text-align: center;

    @include tablet {
      display: flex;
      justify-content: space-around;
      margin-bottom: 55px;
    }

    @include tablet-landscape {
      display: none;
    }

    @include desktop-vertical-shot {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  .btn-primary {
    padding: 5px;

    @include desktop-vertical-shot {
      padding: vh(5px);
    }

    @include desktop {
      padding: 5px;
    }
  }

  &__freemium {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__premium {
    margin-bottom: 95px;

    @include tablet {
      margin-bottom: 0;
    }

    .pricing__sub-header {
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
      white-space: nowrap;

      @include tablet {
        max-width: 100%;
      }
    }
  }

  &__header {
    margin-bottom: 5px;

    @include desktop-vertical-shot {
      margin-bottom: vh(5px);
    }

    @include desktop {
      margin-bottom: 5px;
    }
  }

  &__sub-header {
    margin-bottom: 9px;
    font-size: 23px;
    line-height: 27px;
    white-space: nowrap;

    @include tablet-landscape {
      margin-bottom: 9px;
      font-size: 23px;
      line-height: 27px;
    }

    @include desktop-vertical-shot {
      margin-bottom: vh(9px);
      font-size: vh(23px);
      line-height: vh(27px);
    }

    @include desktop {
      margin-bottom: 9px;
      font-size: 23px;
      line-height: 27px;
    }
  }

  &__mo {
    display: block;

    @include tablet-landscape {
      display: none;
    }

    @include desktop-vertical-shot {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__des {
    display: none;

    @include tablet-landscape {
      display: block;
    }

    @include desktop-vertical-shot {
      display: block;
    }

    @include desktop {
      display: block;
    }
  }

  .btn--small {
    @include tablet-landscape {
      width: 145px;
      line-height: 47px;
      font-size: 23px;
    }

    @include desktop-vertical-shot {
      width: vh(145px);
      line-height: vh(47px);
      font-size: vh(23px);
    }

    @include desktop {
      width: 145px;
      line-height: 47px;
      font-size: 23px;
    }
  }
}

.pricing__premium {
  .pricing__header {
    color: $azure-radian;
  }
}

.table {
  width: 100%;

  tr {
    th,
    td {
      &:not(:last-child) {
        padding-right: 17px;
      }
    }

    th {
      padding-bottom: 12px;
      font-weight: 600;

      @include tablet-landscape {
        padding-bottom: 12px;
      }

      @include desktop-vertical-shot {
        padding-bottom: vh(12px);
      }

      @include desktop {
        padding-bottom: 12px;
      }

      .pricing__sub-header {
        font-weight: normal;
      }
    }

    td {
      padding-bottom: 30px;
      color: $azure-radian;
      line-height: 1;

      @include tablet-landscape {
        font-size: 23px;
        padding-bottom: 30px;
      }

      @include desktop-vertical-shot {
        padding-bottom: vh(23px);
        font-size: vh(30px);
      }

      @include desktop {
        font-size: 23px;
        padding-bottom: 30px;
      }

      &:not(:first-child) {
        text-align: center;

        @include desktop {
          width: 250px;
        }
      }

      &:first-child {
        @include desktop {
          padding-right: 206px;
        }
      }
    }

    &:last-child {
      td {
        padding-bottom: 0;
      }
    }
  }

  .premium {
    color: $azure-radian;
  }
}
