h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

h1 {
  font-size: 45;
  line-height: 54px;

  @include desktop {
    font-size: 90px;
    line-height: 108px;
  }
}

h2 {
  font-size: 35px;
  line-height: 42px;

  @include tablet {
    font-size: 45px;
    line-height: 54px;
  }

  @include tablet-landscape-vertical-shot {
    font-size: vh(45px);
    line-height: vh(54px);
  }

  @include desktop {
    font-size: 45px;
    line-height: 54px;
  }
}

h3 {
  font-size: 35px;
  line-height: 42px;

  @include tablet-landscape-vertical-shot {
    font-size: vh(35px);
    line-height: vh(42px);
  }

  @include tablet-landscape-max-height {
    font-size: vw(35px);
    line-height: vw(42px);
  }
}

h4 {
  font-size: 23px;
  line-height: 27px;

  @include tablet-landscape-vertical-shot {
    font-size: vh(45px);
    line-height: vh(54px);
  }

  @include desktop {
    font-size: 45px;
    line-height: 54px;
  }
}
