// fonts
$font-family: 'Kanit', sans-serif;

// breakpoints
$mobile: 375px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1336px;
$desktop-l: 1920px;

// colours
$white: #fff;
$black: #000;
$vermilion: #ff4100;
$dodger-blue: #2b75f9;
$azure-radian: #007dff;
$warning: #ff3900;
