.section {
  &__about {
    color: $white;

    article {
      padding: 155px 30px 85px;

      @include tablet {
        padding: calc(60px + 40px) 40px 83px;
      }

      @include tablet-landscape-vertical-shot {
        margin: auto;
        padding: vh(120px) 0 0;
        max-width: 1110px;
      }

      @include desktop {
        margin: auto;
        padding: 100px 0 0;
        max-width: 1110px;
      }
    }

    .section__content {
      @include desktop {
        display: flex;
        align-items: center;
      }
    }
  }
}

.about {
  &__headline {
    margin-bottom: 30px;
    text-align: center;

    @include tablet {
      margin-bottom: 40px;
    }

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(80px);
    }

    @include desktop {
      margin-bottom: 94px;
    }
  }

  &__content {
    @include tablet {
      font-size: 23px;
      line-height: 27px;
    }

    @include tablet-landscape-vertical-shot {
      font-size: vh(23px);
      line-height: vh(27px);
    }

    @include desktop {
      font-size: 23px;
      line-height: 27px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @include tablet-landscape-vertical-shot {
        margin-bottom: vh(88px);
      }

      @include desktop {
        margin-bottom: 88px;
      }
    }
  }
}

.section__term,
.section__privacy {
  color: $white;

  article {
    padding-top: 20vh;

    @include tablet-landscape-vertical-shot {
      padding-top: 18vh;
    }

    @include desktop {
      padding-top: 18vh;
    }
  }

  .section__headline {
    margin-top: 0;
    margin-bottom: 30px;
    color: $white;
    font-size: 28px;
    line-height: 1;

    @include tablet {
      margin-bottom: 44px;
      font-size: 35px;
    }

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(87px);
      font-size: vh(45px);
    }

    @include desktop {
      margin-bottom: 87px;
      font-size: 45px;
    }
  }
}
