.section {

  &__faq1,
  &__faq2,
  &__term,
  &__privacy {
    article {
      margin: auto;
      max-width: 1180px;
      padding: 0 20px;

      @include tablet {
        padding: 0 40px;
      }

      @include tablet-landscape-vertical-shot {
        padding: 0;
      }

      @include desktop {
        padding: 0;
      }
    }
  }

  &__faq1 {
    color: $white;

    .section__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .section__content-inner {
      width: 100%;
      overflow: hidden;
    }

    .section__mobile {
      display: block;

      @include tablet {
        display: none;
      }
    }

    .section__desktop {
      display: none;

      @include tablet {
        display: block;
      }
    }

    .form-group {
      padding-top: 98px;

      @include tablet {
        padding-top: 71px;
      }
    }

    ::-webkit-input-placeholder { /* Edge */
      color: $black;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $black;
    }

    ::placeholder {
      color: $black;
    }
  }

  &__faq2,
  &__term,
  &__privacy {
    .section__headline {
      text-align: center;
    }

    .faq {
      padding: 176px 0 0;

      @include tablet {
        padding-top: 200px;
      }

      @include tablet-landscape-vertical-shot {
        padding-top: vh(250px);
      }

      @include desktop {
        padding-top: 150px;
      }
    }

    .fag__accordion .accordion__title {
      color: $white;

      &::after {
        background-image: url('../images/Plern_white_arrow.svg');
      }
    }
  }
}
