.section {
  &__helper {
    max-width: 1475px;
    padding: 35px 32px;
    background-color: $white;

    @include tablet {
      margin-left: 99px;
      margin-right: 99px;
    }

    @include desktop {
      margin: 115px auto 0;
      padding: 188px 0 102px;
    }

    .fp-section & {
      margin-top: 98px;
    }

    &--large {
      padding: 31px 26px 45px;
    }
  }

  &__action {
    display: none;

    @include desktop {
      display: block;
      margin-top: 22px;
    }

    .btn {
      width: 185px;
      padding: 3px;
      font-size: 30px;
    }
  }

  &__home1 {
    article {
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 30px;
    }

    .home-intro1,
    .home-intro2,
    .home-intro3 {
      color: $white;
    }

    .home-intro1 {
      font-size: 59px;
      line-height: 78px;
      font-weight: 500;

      @include tablet {
        font-size: 74px;
        line-height: 89px;
      }

      @include desktop {
        font-size: 99px;
        line-height: 119px;
      }
    }

    .home-intro2 {
      font-size: 90px;
      line-height: 107px;
      font-weight: 600;

      @include tablet {
        font-size: 112px;
        line-height: 135px;
      }

      @include desktop {
        font-size: 151px;
        line-height: 181px;
      }
    }

    .home-intro3 {
      font-size: 32px;
      line-height: 39px;

      @include tablet {
        font-size: 41px;
        line-height: 49px;
      }

      @include desktop {
        font-size: 55px;
        line-height: 66px;
      }
    }

    .btn-register {
      display: none;
      padding: 0;

      @include desktop {
        margin-top: 26px;
        display: block;
        width: 185px;
        line-height: 60px;
        font-size: 30px;
      }
    }
  }

  &__home2,
  &__home6 {
    article {
      margin: auto;
      align-items: flex-end;
      padding-left: 20px;
      padding-bottom: calc(69px + 72px);
      color: $white;

      @include tablet {
        padding-left: 88px;
        padding-bottom: calc(60px + 87px);
      }

      @include desktop {
        padding-left: 0;
        padding-bottom: 192px;
      }
    }

    .section__headline,
    .section__sub-headline {
      font-size: 35px;
      line-height: 42px;

      @include tablet {
        font-size: 45px;
        line-height: 54px;
      }
    }

    .section__headline {
      font-weight: 600;
    }
  }

  &__home3,
  &__home4,
  &__home5 {
    article {
      justify-content: center;
      padding-top: calc(51px + 28px);

      @include tablet {
        padding-top: calc(60px + 63px);
      }

      @include desktop {
        justify-content: flex-start;
        padding-top: 143px;
        margin: 0 auto;
      }
    }

    .section__content-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .section__info-wrapper {
      text-align: center;
      // overflow: hidden;

      @include desktop {
        text-align: left;
      }
    }

    .section__headline {
      padding-bottom: 10px;
      font-size: 45px;
      line-height: 54px;
      font-weight: 600;

      @include tablet {
        padding-bottom: 19px;
        font-size: 60px;
        line-height: 72px;
      }
    }

    .section__info {
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      white-space: nowrap;

      @include tablet {
        font-size: 23px;
        line-height: 27px;
      }

      @include desktop {
        font-size: 45px;
        line-height: 54px;
        text-align: left;
      }
    }

    .section__image {
      width: 281px;

      @include tablet {
        width: 392px;
      }

      @include desktop {
        width: 493px;
      }
    }
  }

  &__home3 {
    article {
      @include desktop {
        padding-top: 133px;
      }
    }
  }

  &__home4 {
    color: $white;

    .section__content {
      overflow: visible;
    }

    .section__content-inner {
      @include desktop {
        position: relative;
      }
    }

    .section__info-wrapper {
      width: 100%;
    }

    .section__image {
      width: auto;

      margin-top: 70px;

      @include tablet {
        margin-top: 68px;
      }

      @include desktop {
        position: absolute;
        right: 0;
        margin-top: 200px;
      }

      img {
        max-width: 296px;

        @include tablet {
          max-width: 481px;
        }

        @include desktop {
          max-width: 599px;
        }
      }
    }

    .section__info {
      white-space: nowrap;
    }
  }

  &__home5 {
    .section__image {
      position: absolute;
      bottom: 0;
      right: -140px;
      width: 640px;

      @include tablet {
        right: 0;
        width: 800px;
      }

      @include desktop {
        right: -100px;
        width: 800px;
      }
    }
  }

  &__home6 {
    article {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
    }

    .section__headline,
    .section__sub-headline {
      font-size: 45px;
      line-height: 54px;

      @include desktop {
        font-size: 90px;
        line-height: 108px;
      }
    }
  }

  &__home7 {
    min-height: auto;

    @include desktop {
      min-height: 100vh;
    }

    &:not(.fp-section) {
      padding-top: calc(51px + 47px);
      padding-bottom: 50px;

      @include tablet {
        padding-top: calc(60px + 44px);
        padding-bottom: 84px;
      }

      @include desktop {
        padding-top: 0;
        padding-bottom: 0;
      }

      article {
        min-height: auto;
      }
    }

    article {
      text-align: center;
      justify-content: center;
      min-height: auto;

      @include desktop {
        margin: auto;
        text-align: left;
        justify-content: flex-start;
        height: auto;
      }
    }

    p {
      font-size: 35px;
      line-height: 44px;

      @include desktop {
        font-size: 90px;
        line-height: 108px;
      }
    }

    .section__helper {
      min-height: 365px;

      @include tablet {
        min-height: 461px;
      }

      @include desktop {
        min-height: auto;
      }
    }

    .section__info-wrapper {
      overflow: hidden;
    }

    .section__action {
      display: block;
      margin-top: 26px;
      margin-bottom: 24px;

      .btn {
        padding: 0;
        width: 99px;
        line-height: 32px;
        font-size: 16px;

        @include tablet {
          width: 185px;
          line-height: 60px;
          font-size: 30px;
        }
      }
    }

    .section__content {
      @include desktop {
        width: 100%;
      }
    }

    .section__flex {
      @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .section__mobile {
      display: block;

      @include desktop {
        display: none;
      }
    }

    .section__desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }

  &__home8 {
    padding-bottom: 104px;

    @include desktop {
      padding-bottom: 0;
    }

    article {
      margin: auto;
    }
  }

  &__home7,
  &__home8 {
    .fp-bg {
      z-index: -1;
    }
  }
}
