.section {
  article {
    max-width: 1130px;
    height: 100%;
    display: flex;
  }

  &__content {
    overflow: hidden;
  }

  &__helper {
    margin-top: 98px;
    max-width: 1475px;
    height: calc(100vh - 98px);
    padding: 35px 32px;
    background-color: $white;

    @include tablet {
      height: calc(100vh - 140px);
      margin-left: 99px;
      margin-right: 99px;
    }

    @include desktop {
      height: auto;
      margin: 115px auto 0;
      padding: 188px 0 102px;
    }
  }

  &__action {
    display: none;

    @include desktop {
      display: block;
      margin-top: 22px;
    }

    .btn {
      width: 185px;
      padding: 3px;
      font-size: 30px;
    }
  }

  &__home1 {
    article {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section__content {
      overflow: hidden;
    }

    .section__image {
      transform: translateY(calc(100% + 226px));
      will-change: transform;

      @include tablet {
        width: 396px;
        transform: translateY(calc(100% + 396px));
      }

      @include desktop {
        width: 532px;
        transform: translateY(calc(100% + 532px));
      }
    }
  }

  &__home2,
  &__home6 {
    article {
      margin: auto;
      align-items: flex-end;
      padding-left: 20px;
      padding-bottom: calc(69px + 72px);
      color: $white;

      @include tablet {
        padding-left: 88px;
        padding-bottom: calc(60px + 87px);
      }

      @include desktop {
        padding-left: 0;
        padding-bottom: 192px;
      }
    }

    .section__content-inner {
      will-change: transform;
    }

    .section__headline,
    .section__sub-headline {
      font-size: 35px;
      line-height: 42px;

      @include tablet {
        font-size: 45px;
        line-height: 54px;
      }
    }

    .section__headline {
      font-weight: 600;
    }
  }

  &__home3,
  &__home4,
  &__home5 {
    article {
      justify-content: center;
      padding-top: calc(51px + 10px);

      @include tablet {
        padding-top: calc(60px + 27px);
      }

      @include desktop {
        justify-content: flex-start;
        padding-top: 143px;
        margin: 0 auto;
      }
    }

    .section__content-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .section__info-wrapper {
      text-align: center;
      overflow: hidden;

      @include desktop {
        text-align: left;
      }
    }

    .section__headline {
      padding-bottom: 10px;
      font-size: 45px;
      line-height: 54px;
      font-weight: 600;

      @include tablet {
        padding-bottom: 19px;
        font-size: 60px;
        line-height: 72px;
      }
    }

    .section__info {
      font-size: 16px;
      text-align: center;
      line-height: 20px;

      @include tablet {
        font-size: 23px;
        line-height: 27px;
      }

      @include desktop {
        font-size: 45px;
        line-height: 54px;
        text-align: left;
      }
    }

    .section__image {
      width: 281px;

      @include tablet {
        width: 392px;
      }

      @include desktop {
        width: 493px;
      }
    }
  }

  &__home4 {
    color: $white;

    .section__content {
      overflow: visible;
    }

    .section__info-wrapper {
      width: 100%;
    }

    .section__image {
      width: auto;

      margin-top: 70px;

      @include tablet {
        margin-top: 68px;
      }

      @include desktop {
        margin-top: 220px;
      }

      img {
        max-width: 296px;

        @include tablet {
          max-width: 481px;
        }

        @include desktop {
          max-width: 599px;
        }
      }
    }

    .section__info {
      white-space: nowrap;
    }
  }

  &__home6 {
    article {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
    }

    .section__headline,
    .section__sub-headline {
      font-size: 45px;
      line-height: 54px;

      @include desktop {
        font-size: 90px;
        line-height: 108px;
      }
    }
  }

  &__home7 {
    font-size: 35px;
    line-height: 44px;

    @include desktop {
      font-size: 90px;
      line-height: 108px;
    }

    article {
      text-align: center;
      justify-content: center;

      @include desktop {
        margin: auto;
        text-align: left;
        justify-content: flex-start;
        height: auto;
      }
    }

    .section__info-wrapper {
      overflow: hidden;
    }

    .section__action {
      display: block;
      margin-top: 26px;
      margin-bottom: 24px;

      .btn {
        padding: 0;
        width: 99px;
        line-height: 32px;
        font-size: 16px;

        @include tablet {
          width: 185px;
          line-height: 60px;
          font-size: 30px;
        }
      }
    }

    .section__content {
      @include desktop {
        width: 100%;
      }
    }

    .section__flex {
      @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .section__mobile {
      display: block;

      @include desktop {
        display: none;
      }
    }

    .section__desktop {
      display: none;

      @include desktop {
        display: block;
      }
    }
  }
}
