.section {
  &__premium1 {
    .home-intro4 {
      font-size: 27px;
      line-height: 33px;
      color: $white;

      @include tablet {
        font-size: 34px;
        line-height: 41px;
      }

      @include desktop {
        font-size: 46px;
        line-height: 56px;
      }
    }
  }

  &__premium2 {
    color: $white;

    article {
      margin: auto;
      padding-top: 186.06px;

      @include tablet {
        padding-top: 266.32px;
      }

      @include tablet-landscape-vertical-shot {
        padding-top: vh(120px);
      }

      @include desktop {
        padding-top: 120px;
      }
    }

    .section__content-inner {
      @include tablet-landscape-vertical-shot {
        align-items: center;
      }

      @include desktop {
        justify-content: space-between;
        align-items: center;
      }
    }

    .section__headline {
      padding-bottom: 0;
      font-size: 35px;
      line-height: 42px;

      @include tablet {
        font-size: 45px;
        line-height: 54px;
      }

      @include tablet-landscape-vertical-shot {
        font-size: vh(45px);
        line-height: vh(54px);
      }

      @include tablet-landscape-max-height {
        font-size: vw(45px);
        line-height: vw(54px);
      }

      &+ .section__info {
        margin-top: 10px;

        @include tablet {
          margin-top: 20px;
        }

        @include tablet-landscape-vertical-shot {
          margin-top: vh(43px);
        }

        @include tablet-landscape-max-height {
          margin-top: vw(43px);
        }
      }
    }

    .section__info {
      margin: auto;
      max-width: 212px;
      font-size: 23px;
      line-height: 27px;
      white-space: normal;

      @include tablet-landscape-vertical-shot {
        margin: 0;
        max-width: 100%;
        font-size: vh(35px);
        line-height: vh(42px);
        white-space: nowrap;
      }

      @include tablet-landscape-max-height {
        margin: 0;
        max-width: 100%;
        font-size: vw(35px);
        line-height: vw(42px);
        white-space: nowrap;
      }

      &:not(:last-child) {
        margin-bottom: 42px;

        @include tablet-landscape-vertical-shot {
          margin-bottom: vh(42px);
        }

        @include tablet-landscape-max-height {
          margin-bottom: vw(42px);
        }
      }
    }

    .section__info-wrapper {
      padding-top: 0;
    }

    .section__image {
      display: none;
      margin-bottom: 0;

      @include tablet-landscape-vertical-shot {
        display: block;
        max-width: vh(475px);
      }

      @include tablet-landscape-max-height {
        max-width: vw(575px);
        display: block;
      }
    }

    .section__action,
    .btn-register {
      @include tablet-landscape-vertical-shot {
        display: block;
      }

      @include desktop {
        display: block;
      }
    }

    .btn-register {
      // @include tablet-landscape {
      //   padding: 0;
      // }

      @include tablet-landscape-vertical-shot {
        font-size: vh(30px);
      }

      @include tablet-landscape-max-height {
        font-size: vw(30px);
      }
    }
  }

  &__premium3,
  &__premium4 {
    article {
      padding-left: 32px;
      padding-right: 30px;
      margin: auto;

      @include tablet-landscape-vertical-shot {
        padding: 0;
      }

      @include desktop {
        padding: 0;
      }
    }

    .section__content {
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet-landscape {
        margin-top: 120px;
      }

      @include tablet-landscape-vertical-shot {
        margin-top: vh(120px);
      }

      @include desktop {
        margin-top: 120px;
      }
    }

    .section__content-wrapper {
      @include tablet-landscape-vertical-shot {
        display: flex;
        justify-content: space-between;
      }

      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    }

    .card {
      margin-top: 79.3px;

      @include tablet {
        margin-top: 100px;
      }

      @include tablet-landscape {
        margin-top: 0;
      }

      &:first-child {
        margin-top: 162.9px;

        @include tablet {
          margin-top: 133.47px;
        }

        @include tablet-landscape {
          margin-top: 0;
          margin-right: 40px;
        }
      }

      &--1 {
        border-color: #4D4D4D;
      }

      &--2 {
        border-color: #B9B9B9;
      }

      &--3 {
        border-color: #fff;
      }
    }
  }

  &__premium4 {
    .section__content-wrapper {
      .card {
        &:first-child {
          margin-top: 79.3px;

          @include tablet-landscape {
            margin-top: 0;
          }
        }

        &:last-child {
          margin-bottom: 105.84px;

          @include tablet {
            margin-bottom: 133.05px;
          }

          @include tablet-landscape {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.card {
  max-width: 391px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 26px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 5px #00000066;
  border: 11px solid #000000;
  border-radius: 30px;
  opacity: 1;

  @include tablet-landscape-vertical-shot {
    max-width: 540px;
    padding: vh(14px) vh(49px);
  }

  @include desktop {
    max-width: 540px;
    padding: 14px 49px;
  }

  &__headline {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 600;
    color: $azure-radian;

    @include tablet {
      font-size: 35px;
      line-height: 42px;
    }

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(25px);
      font-size: vh(25px);
      line-height: vh(32px);
    }

    @include tablet-landscape-max-height {
      margin-bottom: vw(30px);
      font-size: vw(35px);
      line-height: vw(42px);
    }
  }

  &__sub-headline,
  &__info li,
  &__price,
  &__month {
    @include tablet-landscape-vertical-shot {
      font-size: vh(23px);
      line-height: vh(27px);
    }

    @include tablet-landscape-max-height {
      font-size: vw(23px);
      line-height: vw(27px);
    }
  }

  &__sub-headline {
    color: #A0A0A0;

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(24px);
    }

    @include tablet-landscape-max-height {
      margin-bottom: vw(24px);
    }
  }

  &__info {
    margin-top: 27px;

    @include tablet-landscape-vertical-shot {
      margin-top: vh(27px);
    }

    @include tablet-landscape-max-height {
      margin-top: vw(55px);
    }

    li {
      position: relative;
      padding-left: 18px;
      padding-bottom: 15px;

      @include tablet-landscape-vertical-shot {
        padding-bottom: vh(15px);
      }

      @include tablet-landscape-max-height {
        padding-bottom: vw(15px);
      }

      &.active {
        color: #2975FF;
      }

      &::before {
        content: '▶';
        position: absolute;
        left: 0;
      }
    }
  }

  &__price {
    margin-bottom: 16px;

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(16px);
    }

    @include tablet-landscape-max-height {
      margin-bottom: vw(16px);
    }
  }

  &__action {
    margin-top: auto;
    text-align: center;
  }
}

.card--freemium-student {
  .card__headline {
    margin-bottom: 5px;

    @include desktop {
      margin-bottom: 15px;
    }
  }

  .card__info {
    margin-top: 15px;

    @include tablet-landscape-vertical-shot {
      margin-top: vh(35px);
    }

    @include tablet-landscape-max-height {
      margin-top: vw(35px);
    }
  }

  .card__price {
    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(10px);
    }

    @include desktop {
      margin-bottom: 10px;
    }
  }
}
