.section {
  &__profile {
    article {
      margin: auto;
      padding: calc(52px + 27px) 20px;

      @include tablet {
        padding-top: calc(60px + 92px);
      }

      @include tablet-landscape {
        max-width: 1090px;
        padding-top: 198px;
      }

      @include tablet-landscape-vertical-shot {
        padding-top: vh(198px);
        padding-bottom: vh(20px);
      }

      @include desktop {
        max-width: 1090px;
        padding-top: 198px;
      }
    }
  }
}

.profile {
  @include tablet-landscape {
    display: flex;
    align-items: center;
  }

  &__headline {
    margin-bottom: 5px;
    color: $white;

    @include tablet-landscape {
      margin-bottom: 12px;
    }

    @include tablet-landscape-vertical-shot {
      margin-bottom: vh(12px);
    }

    @include desktop {
      margin-bottom: 12px;
    }
  }

  &__avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-landscape {
      padding-right: 94px;
    }
  }

  &__avatar {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;

    @include tablet {
      width: 233px;
      height: 233px;
    }

    @include tablet-landscape {
      width: 351px;
      height: 351px;
    }

    @include tablet-landscape-vertical-shot {
      width: vh(233px);
      height: vh(233px);
    }

    @include desktop {
      width: 351px;
      height: 351px;
    }
  }

  &__form {
    margin: auto;
    width: 100%;
    max-width: 420px;

    @include tablet-landscape {
      max-width: 644px;
    }
  }

  .form-control-file {
    margin: 13px 0;
  }

  .btn-file {
    margin: 17px 0;

    @include tablet {
      margin: 16px 0 24px;
    }

    @include tablet-landscape {
      margin: 30px 0 0;
    }

    @include tablet-landscape-vertical-shot {
      margin: vh(30px) 0 0;
    }

    @include desktop {
      margin: 30px 0 0;
    }
  }
}

.section__profile {
  .profile {
    margin: auto;
    padding: 38px 32px;
    max-width: 320px;
    background-color: $white;

    @include tablet {
      padding: 58px 60px;
      max-width: 500px;
    }

    @include tablet-landscape {
      padding: 117px;
      max-width: 1000px;
    }

    &__headline {
      color: $black;

      @include desktop {
        margin-bottom: 35px;
      }
    }
  }

  .form-label,
  .form-control {
    padding: 0;
  }

  .form-group {
    @include desktop {
      padding-bottom: 30px;
    }
  }

  .form-group--last {
    padding-bottom: 0;
  }

  .form-label {
    @include desktop {
      margin-bottom: 27px;
    }
  }

  .btn-edit {
    margin: 13px 0;
    padding: 0;
    width: 150px;
    line-height: 32px;

    @include tablet {
      margin: 16px 0 24px;
      width: 218px;
      line-height: 46px;
      font-size: 23px;
    }

    @include tablet-landscape {
      margin-top: 25px;
      width: 328px;
      line-height: 70px;
      font-size: 35px;
    }

    @include tablet-landscape-vertical-shot {
      margin-top: vh(25px);
      width: 328px;
      line-height: vh(70px);
      font-size: vh(35px);
    }

    @include desktop {
      margin-top: 25px;
      width: 328px;
      line-height: 70px;
      font-size: 35px;
    }
  }
}

.js-upload,
.js-form-action {
  display: none;

  &.is-active {
    display: block;
  }
}

.js-edit {
  &.is-active {
    display: none;
  }
}

.js-form-action {
  &.is-active {
    display: flex;
  }
}
