.section {
  &__profile {
    article {
      margin: auto;
      padding: calc(52px + 27px) 20px;

      @include tablet {
        padding-top: 100px;
      }

      @include desktop {
        max-width: 1090px;
        padding-top: 140px;
      }
    }
  }
}

.profile {
  @include desktop {
    display: flex;
    align-items: center;
  }

  &__headline {
    margin-bottom: 5px;
    color: $white;

    @include tablet {
      margin-bottom: 12px;
    }
  }

  &__avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      padding-right: 94px;
    }
  }

  &__avatar {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;

    @include tablet {
      width: 233px;
      height: 233px;
    }

    @include desktop {
      width: 351px;
      height: 351px;
    }
  }

  &__form {
    margin: auto;
    width: 100%;
    max-width: 420px;

    @include desktop {
      max-width: 644px;
    }
  }

  .form-control-file {
    margin: 13px 0;
  }

  .btn-file {
    margin: 17px 0;

    @include tablet {
      margin: 16px 0 24px;
    }

    @include desktop {
      margin: 30px 0 0;
    }
  }
}
