.section {
  &__register {
    .form-headline {
      color: $white;

      @include tablet-landscape {
        margin-bottom: 16px;
      }
    }

    article {
      margin: auto;
      max-width: 400px;
      padding: 0 20px;

      @include tablet {
        padding: 0;
        max-width: 420px;
      }

      @include tablet-landscape {
        max-width: 664px;
      }
    }

    .section__content {
      padding-top: 191.59px;
      padding-bottom: 197.3px;

      @include tablet {
        padding-top: 233.56px;
        padding-bottom: 238.23px;
      }

      @include tablet-landscape {
        padding-bottom: 0;
      }

      @include tablet-landscape-vertical-shot {
        padding-top: vh(159.32px);
      }

      @include desktop {
        padding-top: 159.32px;
      }
    }

    .section__content-inner {
      width: 100%;
    }
  }

  &__content {
    .form-headline {
      padding-left: 10px;
      margin-bottom: 5px;
      color: $black;

      @include tablet {
        padding-left: 20px;
        margin-bottom: 12px;
      }

      @include tablet-landscape-vertical-shot {
        margin-bottom: vh(12px);
      }
    }
  }
}
