.section {
  &__register {
    .form-headline {
      color: $white;

      @include desktop {
        margin-bottom: 16px;
      }
    }

    article {
      margin: auto;
      max-width: 400px;
      padding: 0 20px;

      @include tablet {
        padding: 0;
        max-width: 420px;
      }

      @include desktop {
        max-width: 664px;
      }
    }

    .section__content {
      padding-top: 20vh;
      padding-bottom: 20vh;

      @include desktop-vertical-shot {
        padding-top: vh(168px);
        padding-bottom: 0;
      }

      @include desktop {
        padding-top: calc(118px + 50px);
        padding-bottom: 0;
      }
    }

    .section__content-inner {
      width: 100%;
    }
  }

  &__content {
    .form-headline {
      padding-left: 10px;
      margin-bottom: 5px;
      color: $black;

      @include tablet {
        padding-left: 20px;
        margin-bottom: 12px;
      }

      @include desktop {
        padding-left: 29px;
      }
    }
  }
}
