.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 73px;
  padding-left: 32px;
  padding-right: 30px;
  color: $white;

  @include tablet-landscape-vertical-shot {
    padding: 63px 66px 0;
  }

  @include desktop {
    padding: 63px 66px 0;
  }

  &__wrapper {
    flex: 1;

    @include tablet-landscape-vertical-shot {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-bottom: 99px;
    display: block;
    width: 90px;
    height: 24px;

    @include tablet {
      width: 116px;
      height: 31px;
    }

    @include tablet-landscape-vertical-shot {
      height: 100%;
      //max-height: vh(56px);
    }
    @include tablet-landscape {

    }

    @include desktop {
      width: 208px;
      height: 56px;
    }
  }

  &__list {
    @include tablet-landscape-vertical-shot {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 81%;
      max-width: calc(1920px - 404px);
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 81%;
      max-width: calc(1920px - 404px);
    }
  }

  &__links {
    li {
      padding-bottom: 21px;

      @include tablet-landscape-vertical-shot {
        padding-bottom: 14px;
      }

      @include desktop {
        padding-bottom: 14px;
      }
    }
  }

  &__links a,
  &__lang-name {
    font-size: 23px;
    line-height: 27px;

    @include tablet-landscape-vertical-shot {
      font-size: 35px;
      line-height: 42px;
    }

    @include desktop {
      font-size: 35px;
      line-height: 42px;
    }
  }

  &__flag {
    margin-left: 24px;
    display: inline-block;
    width: 50px;
    height: 34px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  &__lang {
    display: flex;
    align-items: center;
  }

  &__copyright,
  &__go-top {
    font-size: 16px;

    @include tablet {
      font-size: 23px;
    }

    @include tablet-landscape-vertical-shot {
      font-size: 35px;
    }

    @include desktop {
      font-size: 35px;
    }
  }

  &__go-top {
    img {
      margin-left: 14px;
      width: 28px;
      height: 24px;
    }
  }
}
