.fp-section,
.fp-slide,
.fp-section.fp-table,
.fp-slide.fp-table,
.fp-section .fp-tableCell,
.fp-slide .fp-tableCell {
  position: relative;
  overflow: hidden;
}

.fp-slide,
.fp-section {
  transition: background-position 1000ms ease;
}

.fp-bg-animate {
  transition: all 1000ms ease
}

.section {
  position: relative;
  min-height: 100vh;
  height: 100%;

  .fp-bg {
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    // z-index: -1;
    background-size: cover;
    background-position: center;
    background-size: cover;
    // transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    transition: transform 1000ms ease;
  }

  article {
    position: relative;
    max-width: 1130px;
    height: 100%;
    display: flex;
  }

  &:not(.fp-section) {
    article {
      min-height: 100vh;
    }
  }

  &__content {
    width: 100%;
    overflow: hidden;
  }

  @for $i from 1 through 8 {
    &__home#{$i} {
      .fp-bg {
        background-image: url('../images/bgs/Plern_background_home#{$i}.jpg');
      }
    }
  }

  @for $ii from 1 through 4 {
    &__premium#{$ii} {
      .fp-bg {
        background-image: url('../images/bgs/Plern_background_premium#{$ii}.jpg');
      }
    }
  }

  @for $ii from 1 through 2 {
    &__faq#{$ii} {
      .fp-bg {
        background-image: url('../images/bgs/Plern_background_FAQ#{$ii}.jpg');
      }
    }
  }

  &__register {
    .fp-bg {
      background-image: url('../images/bgs/Plern_background_register.jpg');
    }
  }

  &__about {
    background-color: #319478;

    .fp-bg {
      background-image: url('../images/bgs/Plern_background_FAQ2.jpg');
    }
  }

  &__contact {
    .fp-bg {
      background-image: url('../images/bgs/Plern_background_FAQ1.jpg');
    }
  }
}

.section--faq {
  background-color: $black;

  article {
    align-items: center;
    margin: auto;
  }
}

.section--footer {
  background-color: $azure-radian;

  &.section article {
    max-width: 100%;
  }
}

.section__profile,
.section__register {
  background-color: #cabc93;
}

.section__home1 {
  background-color: $dodger-blue;
}

.section__premium1 {
  background-color: #4ab2f1;
}

.section__faq1 {
  background-color: #f6c52d;
}

.section__contact {
  background-color: #f5c52c;
}
