<section class="section section--footer js-section">
  <article>
    <footer class="footer">
      <div class="footer__wrapper">
        <a class="footer__logo" href="index.html">
          <img src="../images/plern-logo-th.svg" alt="Plern logo">
        </a>
        <ul class="footer__links">
          <li><a href="#">เกี่ยวกับเรา</a></li>
          <li><a href="#">เงื่อนไขการใช้งาน</a></li>
          <li><a href="#">นโยบายความเป็นส่วนตัว</a></li>
        </ul>
        <ul class="footer__links">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
        <div class="footer__lang">
          <span class="footer__lang-name">ไทย</span>
          <div class="footer__flag">
            <img src="../images/th-flag.svg" alt="th">
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__copyright">© 2020 Plern Thailand</div>
        <button class="btn footer__go-top">
          กลับ
          <img src="../images/Plern_white_arrow.svg" alt="go top">
        </button>
      </div>
    </footer>
  </article>
</section>
