<header class="header">
  <div class="header__wrapper">
    <a class="header__logo" href="index.html">
      <img src="../images/plern-logo-th.svg" alt="Plern logo">
    </a>
    <div class="header__wrapper-nav">
      <a class="header__download btn btn-primary" href="#">ดาวน์โหลด</a>
      <button type="button" class="burger">
        <!-- <span class="mh-sr-only">Toggle navigation</span> -->
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Premium</a></li>
          <li class="nav__item"><a href="#" class="nav__link">ช่วยเหลือ</a></li>
          <li class="nav__item"><a href="#" class="nav__link">ติดต่อเรา</a></li>
          <li class="nav__item"><a href="#" class="nav__link">ลงชื่อเข้าใช้งาน</a></li>
          <li class="nav__item"><a href="#" class="nav__link btn btn-primary">สมัครสมาชิก</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
