<header class="header js-header">
  <div class="header__wrapper">
    <a class="header__logo" href="index.html">
      <img src="../images/plern-logo-th.svg" alt="Plern logo">
    </a>
    <div class="header__wrapper-nav">
      <a class="header__download btn btn-primary" href="download.html">ดาวน์โหลด</a>
      <button id="burger" type="button" class="burger">
        <span class="burger__sr-only">Toggle navigation</span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </button>
      <div class="nav-overlay"></div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="premium.html" class="nav__link" data-text="Premium">Premium</a></li>
          <li class="nav__item"><a href="faq.html" class="nav__link" data-text="ช่วยเหลือ">ช่วยเหลือ</a></li>
          <li class="nav__item"><a href="contact.html" class="nav__link" data-text="ติดต่อเรา">ติดต่อเรา</a></li>
          <li class="nav__item"><a href="login.html" class="nav__link" data-text="ลงชื่อเข้าใช้งาน">ลงชื่อเข้าใช้งาน</a></li>
          <li class="nav__item"><a href="register.html" class="nav__link" data-text="สมัครสมาชิก">สมัครสมาชิก</a></li>
        </ul>
        <a class="nav__logo" href="index.html">
          <img src="../images/plern-logo-th.svg" alt="Plern logo">
        </a>
      </nav>
    </div>
  </div>
</header>