<section class="section section--faq js-section">
  <div class="fp-bg"></div>
  <article>
    <div class="section__content">
      <div class="section__content-inner">
        <div class="section__info-wrapper">
          <div>
            <div class="faq">
              <h3 class="faq__headline">FAQ</h3>
              <div id="accordion" class="fag__accordion">
                <h3 class="accordion__title">Where is My Mix featured? How do you listen to it?</h3>
                <div class="accordion__content">
                  Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam non ummy nibheuismod tincidunt utlaoreet dolore
                  magna aliquam erat volutpat.
                </div>
                <h3 class="accordion__title">How often is My Mix updated?</h3>
                <div class="accordion__content">
                  Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam non ummy nibheuismod tincidunt utlaoreet dolore
                  magna aliquam erat volutpat.
                </div>
                <h3 class="accordion__title">How many mixes will I recieve?</h3>
                <div class="accordion__content">
                  Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam non ummy nibheuismod tincidunt utlaoreet dolore
                  magna aliquam erat volutpat.
                </div>
                <h3 class="accordion__title">Can I save one of my mixes?</h3>
                <div class="accordion__content">
                  Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam non ummy nibheuismod tincidunt utlaoreet dolore
                  magna aliquam erat volutpat.
                </div>
                <h3 class="accordion__title">If you are new to Plern what will show for this function?</h3>
                <div class="accordion__content">
                  Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam non ummy nibheuismod tincidunt utlaoreet dolore
                  magna aliquam erat volutpat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
