<section class="section section__home8 js-section">
  <div class="fp-bg"></div>
  <div class="section__helper section__helper--large">
      <article>
          <div class="section__content">
              <div class="section__content-inner">
                  <div class="section__info-wrapper">
                      <div class="">
                          <!-- js-section-content-inner -->
                        <div class="pricing">
                            <div class="pricing__type">
                                <div class="pricing__freemium">
                                    <h3 class="pricing__header">เพลิน</h3>
                                    <h3 class="pricing__header">Freemium</h3>
                                    <div class="pricing__sub-header">ดาว์โหลดเพื่อฟังฟรี</div>
                                    <a href="#" class="btn btn--small btn-primary">เริ่มเลย</a>
                                </div>
                                <div class="pricing__premium">
                                    <h3 class="pricing__header">เพลิน</h3>
                                    <h3 class="pricing__header">Premium</h3>
                                    <div class="pricing__sub-header">
                                        <div>ฟังฟรี 1 เดือน ได้เลยทันที่</div>
                                    </div>
                                    <a href="#" class="btn btn--small btn-primary">เริ่มเลย</a>
                                </div>
                            </div>
                            <div class="pricing__table">
                                <table class="table">
                                    <tr>
                                        <th></th>
                                        <th>
                                            <div class="pricing__mo">
                                                <div><strong>เพลิน</strong></div>
                                                <div><strong>Freemium</strong></div>
                                            </div>
                                            <div class="pricing__des">
                                                <div class="pricing__freemium">
                                                    <h3 class="pricing__header">เพลิน</h3>
                                                    <h3 class="pricing__header">Freemium</h3>
                                                    <div class="pricing__sub-header">ดาว์โหลดเพื่อฟังฟรี</div>
                                                    <a href="#" class="btn btn--small btn-primary">เริ่มเลย</a>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="pricing__mo premium">
                                                <div><strong>เพลิน</strong></div>
                                                <div><strong>Premium</strong></div>
                                            </div>
                                            <div class="pricing__des">
                                                <div class="pricing__premium">
                                                    <h3 class="pricing__header">เพลิน</h3>
                                                    <h3 class="pricing__header">Premium</h3>
                                                    <div class="pricing__sub-header">
                                                        <div>ฟังฟรี 1 เดือน ได้เลยทันที่</div>
                                                    </div>
                                                    <a href="#" class="btn btn--small btn-primary">เริ่มเลย</a>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>ฟังเพลินไม่มีโฆษณาคั่น</td>
                                        <td></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>ฟังเพลงผ่านไฟล์เสียงคุณภาพสูง</td>
                                        <td></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>เข้าถึง Exclusive Content ได้ก่อนใคร</td>
                                        <td></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>ฟังเพลงมากกว่าแสน เพลงไม่จํากัด</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>โหลดเพื่อฟังออฟไลน์ ตอนไม่มีเน็ตได้ไม่จํากัด</td>
                                        <td></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>โหลดเพื่อฟังออฟไลน์ ตอนไม่มีเน็ต</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>ฟังเพลงขณะล๊อค หน้าจอ</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>กดข้ามเพลงได้ไม่จํากัด</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>ฟังเพลงบนสถานีเพลง ออนไลน์ได้ไม่จํากัด (Programmatic Ratio Station)</td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="pricing__mo">ฟังรายการเสียงได้ไม่มีจํากัด (Podcast Sation)</div>
                                            <div class="pricing__des">ฟังรายการเสียงได้ไม่มีจํากัด<br>(Podcast Sation)</div>
                                        </td>
                                        <td><i class="icon-check"></i></td>
                                        <td><i class="icon-check icon-check--blue"></i></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </article>
  </div>
</section>
